*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: #481616;
    font-family: 'Pacifico', cursive;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin: 0 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}

.nav-link:hover{
    color: black;
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    border: 2px solid #a75656;
    outline: 0;
    font-family: 'Rubik', sans-serif;
    margin-right: -35px;
}

.btn1{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: #1c0505;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn1:hover{
    background-color: #5a2626;
    transition: 0.5s;
}

.btn2{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background-color: #462424;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.btn2:hover{
    background-color: #2d1616;
    transition: 0.5s;
}

/* main */

.main{
    background: url("./images/main1.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

/* new */

.newimg{
    border-radius: 50%;
    margin-bottom: 10px;
}

.new .row{
    transition: 2s ease-in-out;
}

.new .row .col-lg-4:hover {
    transform: scale(1.1);
}

/* trend */

.trend .row .col-lg-12 {
    background-color: #1c0505;
    color: #dbc1ac;
    padding: 30px;
}

.trend{
    color: #1c0505;
}

.Oraganic{
    background: url();
}

/* about */

.about{
    color: #1c0505;
}

.about img{
    border-radius: 20px;
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.6);
    transition: 2s ease;
}


.about img:hover{
    transform: scale(1.1);
}

.about .content{
    align-content: center;
}

.line{
    border-bottom: 4px solid #1c0505;
    width: 150px;
    height: 6px;
    margin: 0 auto;
    border-radius: 5px;
}

/* caro */

.caro{
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4));
}

.carousel-item .row h2{
    font-size: 3rem;
    font-weight: 700;
    color: #1c0505;
}

.carousel-item .row{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* product */

.product h1, h4{
    color: #1c0505;
}

.product .proImage{
    width: 300px;
    height: 300px;
    object-fit: cover;
    gap: 10px !important;
    border-radius: 10px;
}

.product .col-lg-3{
    padding: 20px;
    transition: 0.5s ease;
    margin-bottom: 20px;
}

.product .col-lg-3:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transform: scale(1.1);
}

/* contact */

.contact{
    background-color: #1c0505;
    color: white;
}

.contact .line{
    border-bottom: 4px solid white;
    width: 150px;
    height: 6px;
    margin: 0 auto;
    border-radius: 5px;
}

/* News */

.news{
    color: #1c0505;
}

.btn3{
    height: 45px;
    width: 100px;
    background-color: #1c0505;
    color: white;
    margin-left: -10px;
    border: 2px solid #1c0505;
    font-weight: 600;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid #1c0505;
    outline: none;
    font-weight: 600;
    color: #1c0505;
    margin-top: 20px;
} 

.news::placeholder{
    color: #1c0505;
}

.news p{
    margin: 0;
}

.news .fab{
    padding-right: 5px;
    font-size: 1.8rem;
    cursor: pointer;
}

/* footer */
.footer{
    background-color: #1c0505;
    color: white;
    padding: 20px;
}